
:host {
  display: block;

  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 75%;
    margin-top: 20px;
    position: relative;

    &-logo {
      margin: 20px 0;
      max-width: 250px;
    }

    &-links {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
