<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <img class="main-logo" alt="Angular 8 + TypeScript Scaffold Logo" src="assets/images/angular8-typescript-scaffold-logo.png">
  <h2 class="main-links-title">Some links to help you start:</h2>
  <ul class="main-links">
    <li>
      <h3><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h3>
    </li>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h3>
    </li>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h3>
    </li>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://www.typescriptlang.org/docs/home.html">TypeScript Documentation</a></h3>
    </li>
  </ul>
</div>
