
:host {
  display: block;
  height: 100%;
  position: relative;

  &:before {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 75%;
    position: relative;

    &-logo {
      margin: 20px 0;
      max-width: 250px;
    }

    &-links {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
