
:host {
  background: var(--background);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;

  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 75%;
    margin-top: 20px;
    position: relative;

    &-logo {
      margin: 20px 0;
      max-width: 250px;
    }

    &-links-title {
      margin-bottom: 0;
    }

    &-links {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}
