:host {
  .sample {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    &-option {
      text-align: center;
      margin-bottom: 10px;
    }

    &-message {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }


}
