:host {
  background: var(--footer-background-color, #fff);
  color: var(--text-color, #fff);
  margin-top: auto;

  .footer {
    text-align: center;

    small {
      font-size: 0.75rem;
    }
  }
}
